#ad{
    width: 1257px;
    height: 296px;
    margin: 0 auto;
    padding-left: 50px;
    box-sizing: border-box;
    position: relative;
    top: 170px;
}
#ad a{
    display: block;
    float: left;
}
#ad a img{
    width: 562px;
    height: 100%;
    margin: 0px 8px;
}