#header{
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
#header .header_left{
    float: left;
}
#header .header_left img{
    width: 60px;
    height: 50px;
    float: left;
}
#header .header_left span{
    display: inline-block;
    margin-left: 20px;
    font-weight: 900;
    font-size: 24px;
    float: left;
    height: 59px;
    line-height: 59px;
}
#header .header_right{
    float:right;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
}
#header .header_right a{
    float: left;
    color: #000000;
    font-size: 14px;
    margin-left: 3px;
}
#cart_main{
    width: 1132px;
    margin: 20px auto;
}
#cart_main .cart_main_header{
    width: 100%;
    height: 30px;
}
#cart_main .cart_main_header div{
    width: 353px;
    height: 29px;
    box-sizing: border-box;
    background: #e6e6e6;
    float: left;
    color: #767676;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
}
#cart_main .cart_main_header img{
    float: left;
}
#cart_main .cart_main_header .cart_main_header_active{
    background: #727272;
    width: 365px;
    border-top: 1px solid #b1b1b1;
    color: #fff;
}
.cart_main_shop{
    width: 100%;
    margin-top: 20px;
    border: 1px solid #efefef;
    box-sizing: border-box;
    display: none;
}
.cart_main_shop .cart_main_shop_title{
    width: 100%;
    background: #f2f2f2;
    box-sizing: border-box;
    position: relative;
    height: 38px;
    line-height: 38px;
}
.cart_main_shop .cart_main_shop_title form{
    float: left;
    margin-left: 5px;
}
.cart_main_shop .cart_main_shop_title div{
    float: left;
    font-size: 14px;
    color: #a5a5a5;
    position: absolute;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(1){
    left: 25px;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(2){
    left: 224px;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(3){
    left: 486px;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(4){
    left: 661px;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(5){
    left: 836px;
}
.cart_main_shop .cart_main_shop_title div:nth-of-type(6){
    left: 1020px;
}
.cart_main_shop .cart_main_shop_page{
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #efefef;
    height: 124px;
}
.cart_main_shop .cart_main_shop_page form{
    width: 62px;
    height: 100%;
    position: relative;
    float: left;
}
.cart_main_shop .cart_main_shop_page form input{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cart_main_shop .cart_main_shop_page div{
    float: left;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(1){
    margin-top: 15px;
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(1) img{
    width: 100%;
    height: 100%;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(2){
    width: 220px;
    height: 100%;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 14px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(2) p{
    width: 100%;
    color: #767676;
    line-height: 27px;
    margin-bottom: 10px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(2) span{
    color: #666666;
    background-color: #efefef;
    padding: 4px 6px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(3){
    width: 220px;
    text-align: center;
    line-height: 110px;
    font-size: 14px;
    color: #767676;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4){
    width: 100px;
    margin-left: 30px;
    overflow: hidden;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4) div{
    width: 70px;
    height: 22px;
    color: #666666;
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4) div span{
    display: inline-block;
    float: left;
    width: 20px;
    height: 100%;
    box-sizing: border-box;
    // border: 1px solid #a9a9a9;
    line-height: 24px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4) div .cart_main_shop_page_add{
    border-right: 1px solid #a9a9a9;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4) div .cart_main_shop_page_minus{
    border-left: 1px solid #a9a9a9;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(4) div  input{
    float: left;
    width: 30px;
    height: 100%;
    border: none;
    text-align: center;
    line-height: 100%;
}.cart_main_shop .cart_main_shop_page div:nth-of-type(5){
    width: 200px;
    text-align: center;
    line-height: 100px;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(5) span{
    font-size: 14px;
    color: #fe2000;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(6){
    width: 180px;
    text-align: center;
    line-height: 100px;
    color: #666666;
}
.cart_main_shop .cart_main_shop_page div:nth-of-type(6) a{
    color: #026eb7;
    font-size: 14px;
    margin-right: 5px;
}



.cart_main_shop .cart_main_shop_num{
    width: 100%;
    height: 168px;
    padding: 20px 45px 18px 0;
    box-sizing: border-box;
}
.cart_main_shop .cart_main_shop_num div:nth-of-type(1){
    float: right;
}
.cart_main_shop_num_price{
    margin-right: 46px;
}
.cart_main_shop_num span{
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;
}
.cart_main_shop_num i{
    color: #fe2000;
    font-size: 16px;
}
.cart_main_shop_num_total{
    margin: 30px 35px 35px 0;
}
.cart_main_shop_num_total i{
    font-size: 18px;
    font-weight: 700;
}
.cart_main_shop_num_bottom{
    position: absolute;
    margin-left: -105px;
}
.cart_main_shop_num_bottom div{
    float: left;
    width: 150px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}
.cart_main_shop_num_bottom div:nth-of-type(1){
    color: white;
    background: red;
    margin-left: 15px;
}
.cart_main_shop_num_bottom div:nth-of-type(2){
    border: 1px solid #dddddd;
    color: #767676;
}
.cart_main_noshop{
    width: 100%;
    height: 300px;
    font-size: 14px;
    position: relative;
}
.cart_main_noshop div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.cart_main_noshop p{
    color: #666666;
    margin-bottom: 25px;
}
.cart_main_noshop div span{
    margin-left: 20px;
    display: inline-block;
    width: 160px;
    height: 24px;
    border: 1px solid #efefef;
    font-weight: 700;
    text-align: center;
    line-height: 24px;
}
html #footer{
    top: 0;
}