// 整体
#detail{
    width: 1204px;
    margin: 0 auto;
    position: relative;
    top: 160px;
    clear: both;
}
#detail:after{
    display: block;
    content: '.';
    clear: both;
    line-height: 0;
    visibility: hidden;
}
// 左半
.detail_left{
    float: left;
    width: 602px;
}
// 顶部文字
.detail_left h6{
    font-weight: 500;
    cursor: pointer;
    font-size: 12px;
    line-height: 24px;
}
// 图片容器
.detail_left .small_con{
    width: 600px;
    height: 600px;
    border: 1px solid #dddddd;
    position: relative;
    cursor: pointer;
}
.detail_left .small_con img{
    width: 100%;
    height: 100%;
}
.detail_left .small_con_move{
    cursor: pointer;
    position: absolute;
    background: yellow;
    opacity: .4;
    top: 0;
    left: 0;
    visibility: hidden;
}
.big_con{
    position: absolute;
    width: 800px;
    height: 800px;
    top: 24px;
    left: 603px;
    border: 1px solid #dddddd;
    z-index: 8;
    overflow: hidden;
    background: white;
    visibility: hidden;
}
.big_con img{
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
}
// 图片列表
.detail_left_list{
    width: 100%;
    margin-top: 13px;
    position: relative;
    height: 100px;
    overflow: hidden;
}
.detail_left_list .detail_left_list_leftbtn,.detail_left_list .detail_left_list_rightbtn{
    position: absolute;
    top: 0;
    background: #f6f6f6;
    border-radius: 6px;
    height: 100%;
    width: 16px;
    cursor: pointer;
    padding-top: 40px;
    box-sizing: border-box;
}
.detail_left_list .detail_left_list_leftbtn{
    left: 0;
}
.detail_left_list .detail_left_list_rightbtn{
    right: 0;
}
.detail_left_list .detail_left_list_leftbtn span{
    display: none
}
.detail_left_list_ulCon{
    overflow: hidden;
    position: absolute;
    left: 25px;
    top: 0;
    height: 100%;
}
.detail_left_list_ulCon ul{
    position: absolute;
}
.detail_left_list ul li{
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 0 5px;
    float: left;
}
.detail_left_list ul li:hover{
    border: 2px solid #ff6600;
}
.detail_left_list ul li img{
    padding: 6px;
    width: 88px;
    height: 88px;
}
#bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: black;
    opacity: .3;
    display: none;
}