// 全局变量
$all_width:100%;
$background_white:#fff;
$middle_fontSize:14px;
// 头部导航
#header .header_nav{
    width: $all_width;
    height: 38px;
    border: 1px solid #fff;
    background: #fff;
}
#header .header_nav ul{
    position: absolute;
    top: 40px;
    left: 100px;
}
#header .header_nav ul li{
    float: left;
    padding: 0 36px;
    line-height: 38px;
    font-size: 16px;
    height: 41px;
    box-sizing: border-box;
    border-bottom: 1px solid #f7f7f7;
}
#header .header_nav .nav_list .header_nav_list_active{
    background: #f7f7f7;
    border-bottom: none;
}
#header .header_nav ul li:first-child{
    padding-left: 10px;
}
// 头部导航表格
#header .header_nav form{
    position: absolute;
    right: 12px;
    top: 45px;
    width: 458px;
    height: 30px;
    background: #e2e2e2;
}
#header .header_nav span{
    font-size: 10px;
    padding: 0 6px 0 10px;
    line-height: 30px;
    font-weight: 700;
    color: #968f8e;
    vertical-align: baseline;
}
#header .header_nav form input{
    height: 20px;
    width: 350px;
    background: #e2e2e2;
    border: none;
    font-size: 14px;
    margin-top: 2px;
}
#header .header_nav form input::placeholder{
    color: #999999;
}
// 通知栏
.info{
    width: $all_width;
    height: 32px;
    background: #efefef;
    line-height: 30px;
    color: #5d5d5d;
    // position: relative;
    // top: 80px;
}
.info span{
    margin-left: 100px;
    font-size: 20px;
    margin-right: 8px;
}





.body{
    width: 100%;
    height: 3000px;
}