#header {
  width: 100%;
  height: 112px;
  position: fixed;
  z-index: 99;
}

#header .title {
  position: absolute;
  top: 0;
  left: 0;
}

#header .title h1 {
  display: inline-block;
  text-indent: -9999px;
}

#header .title img {
  margin-left: -4px;
}

#header .header_list {
  width: 100%;
  height: 40px;
  background: #222222;
}

#header .header_list .header_shop {
  width: 100px;
  height: 40px;
  background: #fff;
  margin-left: 96px;
  font-size: 12px;
  text-indent: 4px;
  line-height: 40px;
  float: left;
}

#header .header_list .header_list_main .explore a {
  color: #fff;
}

#header .header_list .header_list_main {
  float: left;
}

#header .header_list .header_list_main .explore li {
  float: left;
  margin: 0 20px;
  line-height: 40px;
}

#header .header_list .header_list_main .explore li:first-child:hover a {
  color: #d3d3d3;
}

#header .header_list .header_list_main .explore li span {
  font-weight: 700;
  color: #d92721;
}

#header .header_list .header_list_main .explore li i {
  font-weight: 700;
}

#header .header_list .header_list_main .explore li :hover span {
  color: #98291f;
}

#header .header_list .header_list_main .explore li :hover i {
  color: #d3d3d3;
}

#header .header_list .header_list_main .header_join {
  position: absolute;
  right: 374px;
  line-height: 40px;
}

#header .header_list .header_list_main .header_join a, #header .header_list .header_list_main .cart a {
  color: #c7c7c7;
}

#header .header_list .header_list_main .cart {
  position: absolute;
  right: 90px;
  line-height: 40px;
}

#header .header_list .header_list_main .cart li {
  color: #c7c7c7;
  float: left;
  padding: 0 15px;
  cursor: pointer;
}

#header .header_list .header_list_main .cart li:first-child:hover {
  color: #6bc1ff;
}

#header .header_list .header_list_main .cart li:first-child:hover a {
  color: #6bc1ff;
}

#header .header_list .header_list_main .cart li:nth-child(2):hover {
  color: #ccc;
  background: #fff;
}

#header .header_list .header_list_main .cart li .phone-ewm {
  cursor: pointer;
  color: #c7c7c7;
  font-size: 12px;
  line-height: 40px;
  box-sizing: border-box;
  background: #ffffff;
  display: none;
  height: 170px;
  left: 1px;
  margin-left: 60px;
  position: absolute;
  right: 0;
  width: 170px;
  z-index: 2;
  height: 190px;
}

#header .header_list .header_list_main .cart li .phone-ewm div {
  padding: 0 15px;
}

#header .header_list .header_list_main .cart li .phone-ewm div img {
  width: 140px;
  height: 140px;
}

#header .header_list .header_list_main .cart li .phone-ewm .item-1 {
  margin-top: -15px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

#header .header_list .header_list_main .cart li .phone-ewm .item-2 {
  margin-top: -5px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

#header .header_list .header_list_main .cart li:nth-child(2):hover .phone-ewm {
  display: block;
}

#header .header_list .header_list_main .cart li:nth-child(3) {
  font-weight: 700;
}

#header .header_list .header_list_main .cart li:nth-child(3):hover {
  color: #6bc1ff;
  background: #fff;
}

#header .header_list .header_list_main .cart li a {
  vertical-align: top;
}

#header .header_list .header_list_main .header_cartshop {
  position: absolute;
  top: 0;
  right: 0;
  background: #f7f7f7;
  width: 90px;
  height: 40px;
  cursor: pointer;
}

#header .header_list .header_list_main .header_cartshop img {
  width: 23px;
  height: 20px;
  position: absolute;
  right: 38px;
  top: 10px;
}

#header .header_list .header_list_main .header_cartshop div {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  line-height: 15px;
  color: #fff;
  background: #ff0000;
  text-align: center;
  position: absolute;
  top: 4px;
  right: 21px;
  cursor: pointer;
}

.fa-map-marker {
  font-size: 1.3em;
  vertical-align: middle;
  margin-right: 2px;
}

.fa-mobile {
  font-size: 1.5em;
  vertical-align: middle;
  margin-right: 2px;
}

#header .header_nav {
  width: 100%;
  height: 38px;
  border: 1px solid #fff;
  background: #fff;
}

#header .header_nav ul {
  position: absolute;
  top: 40px;
  left: 100px;
}

#header .header_nav ul li {
  float: left;
  padding: 0 36px;
  line-height: 38px;
  font-size: 16px;
  height: 41px;
  box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
}

#header .header_nav .nav_list .header_nav_list_active {
  background: #f7f7f7;
  border-bottom: none;
}

#header .header_nav ul li:first-child {
  padding-left: 10px;
}

#header .header_nav form {
  position: absolute;
  right: 12px;
  top: 45px;
  width: 458px;
  height: 30px;
  background: #e2e2e2;
}

#header .header_nav span {
  font-size: 10px;
  padding: 0 6px 0 10px;
  line-height: 30px;
  font-weight: 700;
  color: #968f8e;
  vertical-align: baseline;
}

#header .header_nav form input {
  height: 20px;
  width: 350px;
  background: #e2e2e2;
  border: none;
  font-size: 14px;
  margin-top: 2px;
}

#header .header_nav form input::placeholder {
  color: #999999;
}

.info {
  width: 100%;
  height: 32px;
  background: #efefef;
  line-height: 30px;
  color: #5d5d5d;
}

.info span {
  margin-left: 100px;
  font-size: 20px;
  margin-right: 8px;
}

.body {
  width: 100%;
  height: 3000px;
}

#header .header_shoplist {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 0;
}

#header .header_shoplist div {
  display: none;
  width: 100%;
  height: 340px;
  background: #f7f7f7;
  padding: 45px 0 45px 420px;
  box-sizing: border-box;
}

#header .header_shoplist div ul {
  float: left;
  height: 250px;
  padding: 0 35px;
  box-sizing: border-box;
}

#header .header_shoplist div:first-child ul, #header .header_shoplist div:nth-child(2) ul, #header .header_shoplist div:nth-child(3) ul {
  border-right: 1px solid #e5e5e5;
}

#header .header_shoplist div ul:first-child {
  padding-left: 0;
}

#header .header_shoplist div ul li {
  margin: 10px 0;
  cursor: pointer;
}

#header .header_shoplist div ul li:first-child {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
}

.cart-dialog {
  width: 300px;
  height: 580px;
  position: fixed;
  right: 0;
  top: 40px;
  z-index: 99;
  background: #f7f7f7;
  color: #333;
  overflow: scroll;
  line-height: normal;
  display: none;
  cursor: pointer;
}

.cart-dialog .closebtn {
  background: url("https://www.thenorthface.com.cn/themes/tnf/images/the-close01.png") no-repeat;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 14px;
  height: 14px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  background-size: 100%;
}

.cart-dialog .car-ware {
  width: 100%;
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  height: 113px;
  box-sizing: border-box;
}

.cart-dialog .ware-l {
  width: 80px;
  height: 80px;
  border: 1px solid #e5e5e5;
  float: left;
}

.cart-dialog .ware-l img {
  width: 100%;
  height: 100%;
}

.cart-dialog .ware-r {
  width: 151px;
  float: left;
  margin-left: 8px;
}

.cart-dialog .ware-r i {
  height: 40px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  font-size: 14px;
  color: #c7c7c7;
}

.cart-dialog .ware-r i:hover {
  color: #54adfe;
}

.ware-r .ware-b {
  font-size: 12px;
  color: #838383;
  height: 18px;
  line-height: 18px;
}

.ware-r .ware-b .size {
  float: left;
}

.ware-r .ware-b .money {
  float: right;
}

.ware-d {
  color: #54adfe;
  line-height: 22px;
}

.ware-d .piece {
  float: left;
}

.ware-d .remove_cart {
  float: right;
  font-weight: 500;
}

.cart-d {
  padding: 25px;
  box-sizing: border-box;
}

.d-all .allcount {
  float: left;
}

.d-all .allmoney {
  float: right;
}

.cart-dialog .the-none-ware {
  width: 90%;
  text-align: center;
  padding: 30px 0;
  margin: 0 auto;
  font-size: 14px;
}

.cart-dialog .sub-cart {
  display: block;
  width: 86%;
  margin: 10px auto;
}

.cart-dialog .sub-cart div {
  width: 86%;
  margin: 10px auto;
  text-align: center;
  padding: 15px;
  clear: both;
  background: #e40012;
  color: #fff;
  font-size: 16px;
}

.cart-dialog .sub-cart div:hover {
  background: #eb4e43;
}

#banner {
  width: 1903px;
  height: 595px;
  position: relative;
  top: 112px;
  left: 0;
  overflow: hidden;
}

#banner .banner_imgCon {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

#banner .banner_imgCon a {
  display: block;
  float: left;
}

#banner .banner_imgCon img {
  width: 1903px;
  height: 100%;
  font-size: 0;
}

#banner ul {
  position: absolute;
  z-index: 10;
  bottom: 15px;
  left: 50%;
  margin-left: -60px;
}

#banner ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  float: left;
  margin: 0 10px;
  cursor: pointer;
}

#banner .banner_active {
  background: white;
}

#banner .banner_left span, #banner .banner_right span {
  font-size: 46px;
  color: white;
  opacity: .5;
}

#banner .banner_left, #banner .banner_right {
  position: absolute;
  z-index: 10;
  top: 290px;
  cursor: pointer;
}

#banner .banner_left {
  left: 85px;
}

#banner .banner_right {
  right: 85px;
}

#ad {
  width: 1257px;
  height: 296px;
  margin: 0 auto;
  padding-left: 50px;
  box-sizing: border-box;
  position: relative;
  top: 170px;
}

#ad a {
  display: block;
  float: left;
}

#ad a img {
  width: 562px;
  height: 100%;
  margin: 0px 8px;
}

#tab {
  width: 1257px;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

#tab .tab_left, #tab .tab_right {
  position: absolute;
  top: 300px;
  color: #d7d7d7;
  cursor: pointer;
}

#tab .tab_left span, #tab .tab_right span {
  font-size: 50px;
}

#tab .tab_right {
  right: 0;
}

#tab .tab_text {
  position: absolute;
  left: 500px;
}

#tab .tab_text div {
  float: left;
  margin-right: 104px;
  font-size: 16px;
  padding: 6px;
  cursor: pointer;
}

#tab .tab_active {
  border-bottom: 2px solid black;
}

#tab .tab_pic {
  position: absolute;
  top: 53px;
  left: 63px;
}

#tab .man_pic {
  z-index: 2;
}

#tab ul li {
  float: left;
  margin-right: 10px;
  position: relative;
}

#tab ul:nth-child(2) {
  display: none;
}

#tab ul li .tab_shopimg {
  width: 275px;
  height: 527px;
}

#tab ul li div {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .7;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer;
}

#tab ul li:hover div {
  display: block;
}

#tab ul li div img {
  width: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#best {
  width: 1257px;
  margin: 0 auto;
  position: relative;
  top: 823px;
  height: 440px;
}

#best .best_text {
  width: 120px;
  margin: 0 auto 30px;
  font-size: 20px;
  font-weight: 700;
}

#best span {
  position: absolute;
  top: 180px;
  color: #d7d7d7;
  cursor: pointer;
  font-size: 50px;
}

#best .best_left {
  left: 0;
}

#best .best_right {
  right: 0;
}

#best .best_banner {
  position: relative;
  left: 60px;
  width: 1160px;
  overflow: hidden;
  height: 385px;
}

#best .best_banner .best_pic {
  position: absolute;
  left: -10px;
}

#best .best_banner .best_pic ul {
  float: left;
}

#best .best_banner .best_pic ul li {
  float: left;
  width: 268px;
  height: 348px;
  border: 1px solid #dddddd;
  margin: 0 10px;
}

#best .best_banner .best_pic ul li img {
  width: auto;
  height: auto;
  max-width: 238px;
  max-height: 238px;
  vertical-align: middle;
  margin-left: 16px;
  margin-top: 16px;
}

#best .best_pic li p {
  margin: 5px auto 10px;
  width: 240px;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

#best .best_pic li div {
  width: 200px;
  margin: 14px auto 0;
  font-size: 14px;
  text-align: center;
}

#best .best_pic li b {
  color: red;
  margin-right: 6px;
}

#best .best_pic li i {
  color: #c7c7c7;
  text-decoration: line-through;
}

#best .best_banner ol {
  position: absolute;
  bottom: 15px;
  left: 530px;
  cursor: pointer;
}

#best ol li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  float: left;
  margin-right: 5px;
}

#best .best_active {
  width: 12px;
  height: 12px;
  border: 1px solid black;
  background: black;
  margin-top: -2px;
}

#footer {
  width: 100%;
  height: 663px;
  position: relative;
  top: 820px;
  left: 0;
}

#rightNav {
  width: 60px;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 20;
  margin-top: -5%;
}

#rightNav div {
  width: 100%;
  height: 60px;
  margin-bottom: 1px;
  line-height: 60px;
  text-align: center;
  position: relative;
  background: #000000;
}

#rightNav div:first-child {
  border-radius: 6px 0 0 0;
}

#rightNav div:last-child {
  border-radius: 0 0 0 6px;
}

/*# sourceMappingURL=index.css.map */
