html,body{
    width: 100vw;
    height: 100vh;
}
/* 头部 */
header{
    width: 100%;
    height: 64px;
    overflow: hidden;
}
header img{
    float: left;
}
header i{
    margin-left: 28px;
    line-height: 68px;
    font-size: 28px;
    color: black;
}
/* 内容 */
main{
    width: 100%;
    margin-top: 28px;
}
main .bg{
    width: 1600px;
    height: 504px;
    margin: 0 auto;
    background: url(https://img1.thenorthface.com.cn/themes/tnf/images/reg.jpg),no-repeat;
    position: relative;
}
main .decide{
    width: 400px;
    position: absolute;
    left: 1064px;
    top: 200px;
    font-size: 12px;
    z-index: 9;
}
main .decide span{
    box-sizing: border-box;
    /* background: #ccc; */
    position: absolute;
    text-align: center;
}
main .decide span:nth-child(2){
    left: 0;
    color: red;
    top: 56px;
}
main .decide span:nth-child(3){
    color: red;
    top: 112px;
}
main .decide span:nth-child(4){
    color: red;
    top: 150px;
}
main .registry{
    width: 400px;
    height: 438px;
    background: #ffffff;
    position: absolute;
    left: 1000px;
    top: 58px;
    padding: 40px 60px 10px ;
    box-sizing: border-box;
}
main .registry p{
    font-size: 20px;
    color: black;
    margin-bottom: 40px;
    font-weight: 700;
}
main [type='text'],main .bg .registry form input[type='password']{
    width: 278px;
    height: 34px;
    border: 1px solid #ccc;
    margin: 20px 0;
    display: block;
    font-size: 14px;
    line-height: 34px;
    text-indent: 14px;
    color: #d2d2d2;
}
main [type='text']::placeholder,main .bg .registry form input[type='password']::placeholder{
    color: #d2d2d2;
}
main form a{
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    color: #337ab7;
}
main form a:hover{
    color: #23527c;
    text-decoration: underline;
}
main .bg .registry .login{
    display: block;
    width: 278px;
    height: 36px;
    background: #ff0000;
    margin-top: 32px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    border: 1px solid #ff0000;
    cursor: pointer;
}
main .bg .registry .text{
    position: absolute;
    left: 60px;
    bottom: 15px;
    font-size: 14px;
    color: #000000;
}
main .bg .registry .text a{
    margin-right: 36px;
}
/* 底部 */
footer{
    width: 100vw;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    color: #707070;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
}